In [1]:
import numpy as np
import pandas as pd
import re
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

In [2]:
data = pd.read_csv("Reddit Data AS.csv")
data.drop('Unnamed: 0', inplace=True, axis=1)
data.head()

,RID,Title,URL,Score,Comment_Score,Author,Content,Adult,Flair
0,g89s9t,Website to find out if you are getting paid fa...,/r/india/comments/g89s9t/website_to_find_out_i...,2,0,ngranja19,NaN,False,Business/Finance
1,g89rnl,Happy Akshaya Tritiya | Akshaya Trititya 2020 ...,/r/india/comments/g89rnl/happy_akshaya_tritiya...,1,0,vaultuptechnologies,[removed],False,AskIndia
2,g89ni7,A new turf war has erupted between #Pakistan s...,/r/india/comments/g89ni7/a_new_turf_war_has_er...,8,6,aviakki1,NaN,False,Non-Political
3,g89j51,"‘Special flights, hospital beds’: Centre preps...",/r/india/comments/g89j51/special_flights_hospi...,13,6,silentr3b31,NaN,False,Politics
4,g89iup,24 in Vijayawada contract virus as man hosts g...,/r/india/comments/g89iup/24_in_vijayawada_cont...,65,8,drgnfly61,NaN,False,Coronavirus

In [3]:
data.describe()

              Score  Comment_Score
count  21606.000000   21606.000000
mean      56.995233      16.117236
std      286.116684     152.512956
min        0.000000       0.000000
25%        1.000000       0.000000
50%        4.000000       1.000000
75%       26.000000       6.000000
max    12489.000000   10794.000000

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21606 entries, 0 to 21605
Data columns (total 9 columns):
RID              21606 non-null object
Title            21606 non-null object
URL              21606 non-null object
Score            21606 non-null int64
Comment_Score    21606 non-null int64
Author           16934 non-null object
Content          9596 non-null object
Adult            21606 non-null bool
Flair            21606 non-null object
dtypes: bool(1), int64(2), object(6)
memory usage: 1.3+ MB

In [5]:
data.fillna("",inplace = True)

In [6]:
print("Total No. Of Null Values in RID:- ", data['RID'].isnull().sum())
print("Total No. Of Null Values in Title:- ", data['Title'].isnull().sum())
print("Total No. Of Null Values in Score:- ", data['Score'].isnull().sum())
print("Total No. Of Null Values in Comments:- ", data['Comment_Score'].isnull().sum())
print("Total No. Of Null Values in Author:- ", data['Author'].isnull().sum())
print("Total No. Of Null Values in Adult:- ", data['Adult'].isnull().sum())
print("Total No. Of Null Values in Flair:- ", data['Flair'].isnull().sum())

Total No. Of Null Values in RID:-  0
Total No. Of Null Values in Title:-  0
Total No. Of Null Values in Score:-  0
Total No. Of Null Values in Comments:-  0
Total No. Of Null Values in Author:-  0
Total No. Of Null Values in Adult:-  0
Total No. Of Null Values in Flair:-  0

In [7]:
count = {}
for i in data['Flair']:
    if i in count:
        count[i] += 1
    else:
        count[i] = 1

In [8]:
sorted_x = sorted(count.items(), key=lambda kv: kv[1])
sorted_x.reverse()
print(sorted_x)

[('Coronavirus', 7700), ('Non-Political', 4336), ('AskIndia', 3112), ('Politics', 2870), ('Policy/Economy', 818), ('Business/Finance', 764), ('Science/Technology', 740), ('Photography', 529), ('Food', 256), ('Scheduled', 200), ('Sports', 191), ('CAA-NRC-NPR', 90)]

In [9]:
data.shape

(21606, 9)

In [10]:
data['Title'][0]

'Website to find out if you are getting paid fairly comparing salaries from India and help to reduce pay inequality.'

In [11]:
stop_words = set(stopwords.words("english"))

In [12]:
def clean_text(text):
    text = re.sub('[/(){}\[\]#\|@,"".?'':;*!$]', '', text)
    text = re.sub('[^0-9A-Za-z #+_]', '', text)
    text = str(" ".join([w for w in word_tokenize(text) if w not in stop_words]))
    return text

In [13]:
data['Title'] = data.apply(lambda column: clean_text(column['Title']), axis=1)
data['Content'] = data.apply(lambda column: clean_text(column['Content']), axis=1)

In [14]:
data['Title'][0]

'Website find getting paid fairly comparing salaries India help reduce pay inequality'

In [15]:
data['Length_Title'] = data['Title'].apply(len)
data['Length_Content'] = data['Content'].apply(len)
data.head()

,RID,Title,URL,Score,Comment_Score,Author,Content,Adult,Flair,Length_Title,Length_Content
0,g89s9t,Website find getting paid fairly comparing sal...,/r/india/comments/g89s9t/website_to_find_out_i...,2,0,ngranja19,,False,Business/Finance,84,0
1,g89rnl,Happy Akshaya Tritiya Akshaya Trititya 2020 Fe...,/r/india/comments/g89rnl/happy_akshaya_tritiya...,1,0,vaultuptechnologies,removed,False,AskIndia,74,7
2,g89ni7,A new turf war erupted Pakistan sponsored terr...,/r/india/comments/g89ni7/a_new_turf_war_has_er...,8,6,aviakki1,,False,Non-Political,166,0
3,g89j51,Special flights hospital beds Centre preps fly...,/r/india/comments/g89j51/special_flights_hospi...,13,6,silentr3b31,,False,Politics,75,0
4,g89iup,24 Vijayawada contract virus man hosts games h...,/r/india/comments/g89iup/24_in_vijayawada_cont...,65,8,drgnfly61,,False,Coronavirus,50,0

In [17]:
data.to_csv("Cleaned Reddit Data AS.csv")